.field {
	display: flex;
	align-items: center;
	position: relative;
}

.field > input {
	border: none;
	outline: none;
	background: transparent;
	transition: color 300ms ease-linear;
}

.field > input::placeholder {
	color: #585654;
}

.field:focus-within .icon {
	color: white;
}

.field .icon {
	margin-right: 0.75rem;
	color: #585654;
	transition: color 300ms ease-linear;
}

.field .error {
	position: absolute;
	bottom: -1.25rem;
	left: 2.25rem;
	color: rgb(220, 38, 38);
	font-size: 0.75rem;
}
